
body{
    font-family: 'Poppins', sans-serif;
    padding: 0px 0px;
    /* width: 100%; */
}
/* <!-- nav-bar start --> */

.nav-elements h1{
    font-size: 25px;
    color: #555b57;
    
}
.nav-elements span{
    color: orangered;
}




nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

nav img {
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #555b57;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}
.nav-links ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: .5s;

}

.nav-links ul li:hover::after{
    width: 100%;
}







/* <!-- header-section-start --> */
.header-section{
    display: flex;
    padding: 0px 0px;
    width: 100%;
}

.header-half-part{
    width: 100%;
    margin-left: 35px;

}

.header-half-part img{
    height: 100%;
    /* width: 100%; */
   
}

.header-half-part h1{
    font-size: 50px;
    color: #555b57;

}
.header-half-part span{
    color: orangered;
    font-size: 90px;
}
.header-half-part p{
    
    color: #555b57;
}
.button{
   background-image: linear-gradient(orange,salmon);
   padding: 15px 40px;
   border-radius: 25px;
   text-decoration: none;
   color: white;
   /* margin-top: 10px; */
}
.button-class{
    margin-top:70px;
}
/* <!-- header-section-end --> */




/* <!-- about-me-section-start --> */
.about-me-section{
    display: flex;
    margin-top: 30px;
   background-image: url('/images/1.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
    height: 500px;
    width: 100%;

}



.about-me-half-part{
    width: 45%;
    height: 500px;
}

.about-me-half-part img{
    height: 395px;
    width: 65%;
    padding-left: 286px;
    width: 270px;
    height: 190p;
    padding-top: 105px;
}

#about-me-contents {
    margin-top: 60px;
}

#about-me-contents h1{
    text-align: center;
    font-size: 50px;
    color: #555b57;
}


#about-me-contents p{
    color: #555b57;
    text-align: center;
}

#contact-us-button{
    margin-left: 38%;
    margin-top: 26px;
}
/* <!-- about-me-section-end --> */



/* <!-- recipy-section-start --> */
.recipy-section{
    margin-top: 50px;
    width: 100%;
}



.recipies-items{
    display: flex;
    width: 100%;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding: 20px 20;
    padding: 70px 20px;
}
.one-by-one-recipy-list{
    width: 20%;
    height: 470px;
    padding: 33px 20px;
    /* border: 1px solid red; */
    border-radius: 30px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
          margin-left: 8%;
}

.one-by-one-recipy-list img{

    width: 100%;
}

#order-now-button{
    margin-left: 88px;
}

.recipy-section h1{
    
    text-align: center;color: #555b57;
}

.recipy-section p{
    text-align: center;color: #555b57;
}

#recipy-content-header{
    font-size: 40px;
}


/* <!-- recipy-section-end --> */



/* <!-- contact-section-start --> */

.social-info{
    
    display: flex;
    border-radius: 25px;
    width: 60%;
    margin-left: 20% !important;
    margin-top: 30px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
          margin-left: 8%;

}

.social-info-part-wise{
    text-align: center;
    width: 20%;
    padding-left: 10%;
}

/* <!-- social-info-section-end --> */



/* footer_start */

.footer {
    background-color: black;
    width: 100%;
    height: 200px;
    text-align: center;
   
}

.footer span{
    
    color: orangered;
}

.footer h1{
    
    color: WHITE;
}
.footer p{
    color: white;
}
.footer-content{
    padding: 49px;
}
/* footer_end */




/* <!-- contact-section-start --> */

.contact{
    margin-top: 65px;
    width: 100%;
    height: 600px;
    background-image: url('/images/footer-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}




.contact-page{
    width: 280px;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
    margin-left: 25%;
    margin-top: 235px;
}
.form-elements{
    padding: 8px 0px;
    margin: 8px 0px;
    border-bottom: 1px solid orangered;
}

.contact-page input{
    padding: 8px 53px;
}

.contact-page h1{
    border-bottom: 5px solid orangered;
    font-size: 40px;
}



.contact-page .btn {
    margin-top: 30px;
    border-radius: 10px;
}
/* <!-- contact-section-end --> */